:root {
    --primary-color: #02512B;
    --secondary-color: #FFFABE;
    font-family: "Merriweather", serif;
}


header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    font-weight: 900;
}

img {
    border: solid black 1px;
}

h2 {
    color: var(--primary-color);
    text-align: center;
}

h3 {
    color: var(--primary-color);
}

p,
ul {
    background-color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: var(--primary-color);
    padding: 1rem;
}

footer p {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}