body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid 1px gray;
    padding: 5px;
    background-color: aqua;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 5px;
    background-color: azure;
    color: black;
}