body {
    margin: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    font-family: "Raleway", sans-serif;
}

header {
    grid-area: header;
    text-align: center;
    padding: 1rem;
    color: #006D77;
}

#course-title {
    display: block;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

nav {
    grid-area: nav;
}

.navigation {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #006D77;
}

.navigation li {
    flex: 1;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Playfair Display", serif;
}

.navigation a:hover {
    background-color: #83C5BE;
    color: #003844;
}

main {
    grid-area: main;
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
    color: #006D77;
    text-align: center;
}

p {
    display: flex;
    text-align: justify;
    line-height: 1.6;
    hyphens: auto;
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #EDF6F9;
    margin: 1rem auto;
    float: none;
    display: block;
}

.side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.siauliai {
    width: 50%;
    height: auto;
    border: 5px solid #EDF6F9;
    border-radius: 10px;
}

.text {
    width: 50%;
}

aside {
    grid-area: aside;
    background-color: #EDF6F9;
    padding: 1rem;
    line-height: 11;

}

footer {
    grid-area: footer;
    background-color: #006D77;
    color: white;
    font-family: "Playfair Display", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}