body {
    background-color: #F1F7F2;
    color: #3B3B3B;
    font-family: "PT Serif", serif;
    margin: 0;
}

.site-title {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10px;
}

header {
    position: relative;
    background-color: #3B3B3B;
    color: #F1F7F2;
    padding: 0.5rem 1rem;
}

#menu {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: #F1F7F2;
}

nav {
    min-height: 56px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav li+li {
    margin-top: 0.5rem;
}

nav button {
    width: 100%;
    background: none;
    border: none;
    color: #F1F7F2;
    padding: 1rem;
    font-size: larger;
    cursor: pointer;
    text-align: center;
}

nav button:hover {
    background-color: #F1F7F2;
    color: #3B3B3B;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    line-height: 1;
    font-family: inherit;
    font-size: larger;
    padding: 1rem;
    text-decoration: none;
    color: #F1F7F2;
}


nav a:hover {
    background-color: white;
    color: #000;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    font-weight: bolder;
    padding: 10px 0;
}

#temple-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
}

.temple-card {
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 4px 8px #3B3B3B;
    text-align: center;
    background-color: #fff;
}

.temple-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
    display: block;
    margin-top: 0.5rem;
    box-shadow: 0 4px 8px #3B3B3B;
}

footer {
    text-align: center;
    background-color: #3B3B3B;
    color: #F1F7F2;
    padding: 1rem;
    margin-top: 1rem;
}

@media(min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12rem;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav li+li {
        margin-top: 0;
        margin-left: 1rem;
    }
}