:root {
    --primary-color: #6495ED;
    --secondary-color: #ffffff;
    font-family: "Oldenburg", serif;
}

body {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    color: #000;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
}

h2 {
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}

.circle {
    width: 350px;
    height: 350px;
    margin: 1rem auto;
    border-radius: 50%;
    background-color: rgba(100, 149, 237, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
    position: relative;
}

.circle p {
    margin: 0.5rem;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.data-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.flag-svg {
    display: inline-block;
    margin-left: 0.5rem;
}

.weather-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.weather-header img.weather-svg {
    display: inline-block;
    margin-left: 0.5rem;
}

.weather-header h2::after {
    content: "";
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #000;
}