body {
    background-color: #F1F7F2;
    color: #3B3B3B;
    font-family: "PT Serif", serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: bolder;
}

nav {
    background-color: #3B3B3B;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav a {
    display: block;
    color: #F1F7F2;
    text-align: center;
    font-size: larger;
    padding: 1rem;
}

nav a:hover {
    background-color: white;
    color: #000;
    width: 100%;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.temple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

figure {

    place-items: center;
}

img {
    width: 75%;
    height: auto;
    display: block;
    border-radius: 10%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

figcaption {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: #3B3B3B;
    text-align: center;
    font-size: small;
}

footer {
    text-align: center;
    background-color: #3B3B3B;
    color: #F1F7F2;
    padding: 1rem;
}